<section class="twelve columns">
    <h1>About me</h1>
        <article>

        <p>Jiajia Li is an <strong>Assistant Professor</strong> (from Aug. 2021) in <a href="https://www.wm.edu/as/computerscience/">Department of Computer Science</a> at <a href="https://www.wm.edu">the College of William & Mary (W&M)</a>, Williamsburg, VA. 
        Her research emphasizes on high performance computing with a focus on the interaction among applications, numerical methods, data structures, algorithms, automatic performance tuning, and computer architectures.
        She is eager to pursue high performance sparse (multi-)linear algebra, solvers, and tensor decompositions for large-scale data analytics and domain applications on diverse computer architectures.
        <!-- optimizing tensor algorithms such as tensor decompositions and fundamental tensor operations especially for sparse data by utilizing various parallel architectures. -->
        </p><br/>

        <p>
        Jiajia Li was a Research Scientist at <a href="http://hpc.pnl.gov">High Performance Computing group</a> of <a href="https://www.pnnl.gov">Pacific Northwest National Laboratory (PNNL)</a>, Richland, WA from 2018-2021.
        She has received her Ph.D. degree (Aug. 2018) in <a href="http://www.cse.gatech.edu">Computational Science & Engineering</a> at <a href="http://www.gatech.edu">Georgia Institute of Technology</a>, advised by Professor <a href="http://vuduc.org/index.php">Richard Vuduc</a>. 
        She has received Rising Stars in Computational and Data Sciences, Best Student Paper Award, and IBM PhD Fellowship.
        Before, she was a research intern of IBM Thomas J. Watson Research Center and Intel Parallel Computing Lab in the summers of 2016 and 2015 respectively.
        In the past, she has received a Ph.D. degree (Jul. 2013) from <a href="http://english.ict.cas.cn">Institute of Computing Technology</a> at <a href="http://english.cas.cn">Chinese Academy of Sciences</a>. 
        <!-- Her research was about auto-tuning method and optimization for irregular algorithms, including sparse matrix vector multiplication, algebraic multi-grid, and dynamic programming on parallel architectures.  -->
        She received her B.S. (Jul. 2008) in Computational Mathematics from <a href="http://en.dlut.edu.cn">Dalian University of Technology</a> in the Accelerated Student Program (2/180). 
        </p><br/>

        <p>
        <strong>Please feel free to drop me an email @ <a href="mailto:jli49@wm.edu">jli49@wm.edu</a> if you have questions about CS PhD program, research collaboration, research/career/international life suggestions, etc. 
        </p></strong><br/>

        <p>For more information, please click here for the <strong><a href="{{ site.baseurl }}/static/files/JiajiaLi-PNNL.pdf">Curriculum Vitae</a></strong></p>.

      <!--   <h1>News</h1>
        <ul>
          <li>Will present in <a href="http://www.siam.org/meetings/pp16/">SIAM-PP'16</a></li>
          <li>Present in <a href="http://sc15.supercomputing.org">SC'15</a></li>
        </ul> -->
    </article>
</section>