<section class="twelve columns">
    <h1>About me</h1>
        <article>

        <p>I am a staff scientist at <a href="http://hpc.pnl.gov">High Performance Computing group</a> of <a href="https://www.pnnl.gov">Pacific Northwest National Laboratory (PNNL)</a>, Richland, WA. My current research emphasizes on optimizing tensor algorithms such as tensor decompositions and fundamental tensor operations especially for sparse data by utilizing various parallel architectures.
        </p><br/>

        <p>
        I have recieved my Ph.D. degree in <a href="http://www.cse.gatech.edu">Computational Science & Engineering</a> at <a href="http://www.gatech.edu">Georgia Institute of Technology</a>, advised by Professor <a href="http://vuduc.org/index.php">Richard Vuduc</a>. 
        <!-- I was working as a graduate research assistant in <a href="http://hpcgarage.org/wp/">HPC Garage</a> with .  -->
        Before, I was a research intern of IBM Thomas J. Watson Research Center and Intel Parallel Computing Lab in the summers of 2015 and 2016 respectively.
        </p><br/>

        <p>In the past, I have received a Ph.D. degree from <a href="http://english.ict.cas.cn">Institute of Computing Technology</a> at <a href="http://english.cas.cn">Chinese Academy of Sciences</a>. 
        My research was about auto-tuning method and optimization for irregular algorithms, including sparse matrix vector multiplication, algebriac multi-grid, and dynamic programming on parallel architectures. 
        I received my B.S. in Information and Computing Science from <a href="http://en.dlut.edu.cn">Dalian University of Technology</a>. </p>

        <p>For more information, please click here for the <a href="{{ site.baseurl }}/static/files/JiajiaLi-GT.pdf">Curriculum Vitae</a></p>.

      <!--   <h1>News</h1>
        <ul>
          <li>Will present in <a href="http://www.siam.org/meetings/pp16/">SIAM-PP'16</a></li>
          <li>Present in <a href="http://sc15.supercomputing.org">SC'15</a></li>
        </ul> -->
    </article>
</section>