<section class="twelve columns">
    <h1>About me</h1>
        <article>

        <p>I am a 4th-year Ph.D. candidate in <a href="http://www.cse.gatech.edu">Computational Science & Engineering</a> at <a href="http://www.gatech.edu">Georgia Institute of Technology</a>. 
        She is working as a graduate research assistant in <a href="http://hpcgarage.org/wp/">HPC Garage</a> under Professor <a href="http://vuduc.org/index.php">Richard Vuduc</a>. 
        She worked as a research intern in Intel Parallel Computing Lab and IBM Thomas J. Watson Research Center in the summers of 2015 and 2016 respectively.
        Her current reseach focuses on optimizing tensor algorithms such as tensor decomposition and tensor-times-matrix multiply by utilizing various parallel archtectures.</p><br/>

        <p>In the past, she received a Ph.D. degree from <a href="http://english.ict.cas.cn">Institute of Computing Technology</a> at <a href="http://english.cas.cn">Chinese Academy of Sciences</a>. 
        Her research was about auto-tuning method and optimization for irregular algorithms, including sparse matrix vector multiplication, algebriac multi-grid, and dynamic programming on parallel architectures. 
        She received her B.S. in Information and Computing Science from <a href="http://en.dlut.edu.cn">Dalian University of Technology</a>. </p>

        <p>For more information, please click here for the <a href="{{ site.baseurl }}/static/files/JiajiaLi-GT.pdf">Curriculum Vitae</a></p>.

      <!--   <h1>News</h1>
        <ul>
          <li>Will present in <a href="http://www.siam.org/meetings/pp16/">SIAM-PP'16</a></li>
          <li>Present in <a href="http://sc15.supercomputing.org">SC'15</a></li>
        </ul> -->
    </article>
</section>