<section class="twelve columns">
    <h1>Activities</h1>
    <article>
        <ul>
            <li>
                <header>
                    <h1>As a PC member of Parallel Algorithm Track of National Annual Conference on High Performance Computing (<a href="http://hpcchina2015.csp.escience.cn/dct/page/1">HPC China</a>)”.</h1>
                </header>
                <p>
                    <em><time>Aug 2013, 2014, 2015</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As an organizer of <a href="http://hotcse.gatech.edu">Hot CSE seminar</a>, a PhD academic seminar in GT CSE.</h1>
                </header>
                <p>
                    <em><time>Aug 2014-now</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Volunteer Librarian of <a href="http://www.cc.gatech.edu/grads/j/jli458/rsi/rsi.html">Repetitive Stress Injury (RSI) Lending Library</a> of GT College of Computing.</h1>
                </header>
                <p>
                    <em><time>Nov 2013-now</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Reviewer of <a href="http://www.computer.org/web/tpds">The Transactions on Parallel and Distributed Systems</a>.</h1>
                </header>
                <p>
                    <em><time>Oct 2015</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Reviewer of The 21st IEEE International Conference on Parallel and Distributed Systems (<a href="http://www.2015.icpads.org">ICPADS’15</a>)”.</h1>
                </header>
                <p>
                    <em><time>Sep 2015</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Teach Assistant of <a href="http://vuduc.org/cse6230/">High-Performance Computing: Tools and Applications</a> (CSE 6230).</h1>
                </header>
                <p>
                    <em><time>Fall 2014</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Reviewer of <a href="http://www.springer.com/computer/journal/11704">the Frontiers of Computer Science.</a></h1>
                </header>
                <p>
                    <em><time>May 2014</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Volunteer Reviewer of <a href="https://www.ncwit.org">National Center for Women & IT (NCWIT) Award</a>.</h1>
                </header>
                <p>
                    <em><time>Nov 2013, 2015</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Volunteer Reviewer of “President’s Undergraduate Research Awards (PUMA)”.</h1>
                </header>
                <p>
                    <em><time>Oct 2013, 2014</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Teach Assistant of “Parallel Computer Architecture" class of <a href="http://dragonstar.ict.ac.cn/dragonstar/index.asp">Dragonstar Project</a>.</h1>
                </header>
                <p>
                    <em><time>May 2012</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>Vice Minister of Academic Study of Student Union at the University of Chinese Academy of Sciences</h1>
                </header>
                <p>
                    <em><time>Dec 2008-Dec 2009</time></em>
                </p>
            </li>

        </ul>
    </article>
</section>
