<section class="twelve columns" id="activities">
    <h1>Activities</h1>
    <article>
        <ul>

            <li>
                <header>
                    <h1>As the Finance Chair and PC of Principles and Practice of Parallel Programming (<a href="https://www.sigplan.org/Conferences/PPOPP/">PPoPP'20</a>).</h1>
                </header>
                <p>
                    <em><time>Nov. 2019</time></em>
                </p>
            </li>
            
            <li>
                <header>
                    <h1>As a Proceeding Chair of Emerging Parallel and Distributed Runtime Systems and Middleware Workshop (<a href="https://ipdrm.github.io">IPDRM'19</a>), Held in conjunction with IEEE/ACM International Conference on High Performance Computing, Networking, Storage and Analysis (<a href="https://sc19.supercomputing.org">SC'19</a>).</h1>
                </header>
                <p>
                    <em><time>Feb 2019</time></em>
                </p>
            </li>

            <li>
                <header>
                    <h1>As the web chair of International Conference on Parallel Architectures and Compilation Techniques (<a href="http://www.pactconf.org/index.php">PACT'19</a>).</h1>
                </header>
                <p>
                    <em><time>Nov. 2019</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As the local chair of the 25th International European Conference on Parallel and Distributed Computing (<a href="http://2019.euro-par.org">Euro-Par'19</a>).</h1>
                </header>
                <p>
                    <em><time>Aug. 2019</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a co-organizer of The First International Workshop on the Intersection of High Performance Computing and Machine Learning (<a href="http://www.wikicfp.com/cfp/servlet/event.showcfp?eventid=82120&copyownerid=131995">HPCaML'19</a>), Held in conjunction with International Symposium on Code Generation and Optimization (<a href="http://cgo.org/cgo2019/">CGO'19</a>).</h1>
                </header>
                <p>
                    <em><time>Feb 2019</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a co-organizer of SIAM Conference on Computational Science and Engineering (<a href="https://www.siam.org/Conferences/CM/Main/cse19">SIAM CSE'19</a>) Minisymposium "High Performance Sparse Matrix, Tensor, and Graph Kernels".</h1>
                </header>
                <p>
                    <em><time>Feb 2019</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As an external PC member of The 32nd ACM International Conference on Supercomputing (<a href="http://ics2018.ict.ac.cn">ICS'18</a>).</h1>
                </header>
                <p>
                    <em><time>Jun. 2018</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a PC member of Experiments and Practice in Parallel and Distributed Computing Track of IEEE International Parallel & Distributed Processing Symposium (<a href="http://hpcchina2015.csp.escience.cn/dct/page/1">IPDPS'18</a>).</h1>
                </header>
                <p>
                    <em><time>Fall 2017</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a PC member of Student Research Competition (SRC) of the 23rd ACM International Conference on Architectural Support for Programming Languages and Operating Systems (<a href="https://www.asplos2018.org/">ASPLOS'18</a>).</h1>
                </header>
                <p>
                    <em><time>Fall 2017</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Reviewer of The Transactions on Parallel and Distributed Systems<a href="http://www.computer.org/web/tpds">(TPDS)</a>, 
                    <a href="http://www.springer.com/computer/journal/11704">the Frontiers of Computer Science</a>,
                    IEEE Transactions on Neural Networks and Learning Systems<a href="https://cis.ieee.org/ieee-transactions-on-neural-networks-and-learning-systems.html">(TNNLS)</a>,
                    <a href="https://link.springer.com/journal/453">Algorithmica Journal</a>,
                    The 32nd ACM International Conference on Supercomputing <a href="http://ics2018.ict.ac.cn/">(ICS'18)</a>,
                    Journal of Low Power Electronics and Applications,
                    Journal of Parallel and Distributed Computing <a href="https://www.journals.elsevier.com/journal-of-parallel-and-distributed-computing">(JPDC)</a>,
                    The 47th International Conference on Parallel Processing <a href="http://oaciss.uoregon.edu/icpp18/index.php">(ICPP'18)</a>,
                    the 21st IEEE International Conference on Parallel and Distributed Systems <a href="http://www.2015.icpads.org">(ICPADS'15)</a>
                    .</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>As a Teach Assistant of <a href="http://vuduc.org/cse6230/">Intro to High-Performance Computing (OMSCS)</a> (CSE 6220).</h1>
                </header>
                <p>
                    <em><time>Spring 2017</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a PC member of Parallel Algorithm Track of National Annual Conference on High Performance Computing (<a href="http://hpcchina2015.csp.escience.cn/dct/page/1">HPC China</a>)”.</h1>
                </header>
                <p>
                    <em><time>Aug 2013, 2014, 2015, 2016, 2017</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As an organizer of <a href="http://hotcse.gatech.edu">Hot CSE seminar</a>, a PhD academic seminar in GT CSE.</h1>
                </header>
                <p>
                    <em><time>Aug 2014-now</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Volunteer Librarian of <a href="http://www.cc.gatech.edu/grads/j/jli458/rsi/rsi.html">Repetitive Stress Injury (RSI) Lending Library</a> of GT College of Computing.</h1>
                </header>
                <p>
                    <em><time>Nov 2013-now</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Teach Assistant of <a href="http://vuduc.org/cse6230/">High-Performance Computing: Tools and Applications</a> (CSE 6230).</h1>
                </header>
                <p>
                    <em><time>Fall 2014</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Volunteer Reviewer of <a href="https://www.ncwit.org">National Center for Women & IT (NCWIT) Award</a>.</h1>
                </header>
                <p>
                    <em><time>Nov 2013, 2015</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Volunteer Reviewer of “President’s Undergraduate Research Awards (PUMA)”.</h1>
                </header>
                <p>
                    <em><time>Oct 2013, 2014, 2016</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>As a Teach Assistant of “Parallel Computer Architecture" class of <a href="http://dragonstar.ict.ac.cn/dragonstar/index.asp">Dragonstar Project</a>.</h1>
                </header>
                <p>
                    <em><time>May 2012</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>Vice Minister of Academic Study of Student Union at the University of Chinese Academy of Sciences</h1>
                </header>
                <p>
                    <em><time>Dec 2008-Dec 2009</time></em>
                </p>
            </li>

        </ul>
    </article>
</section>
