<section class="twelve columns">
    <h1>Awards</h1>
    <article>
        <ul>
            <li>
                <header>
                    <h1>Selected students to attend IEEE-WIE Women’s Leadership Summit 2016</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>ZhuLiYueHua Award for the Excellent PhD Students of Chinese Academy of Sciences (Top 0.2%), 2013</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>Merit Student of Institute of Computing Technology, 2013</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>Xia Peisu Scholarship of Institute of Computing Technology (Top 1%), 2011</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>Outstanding Research Assistant of the Computer Architecture Laboratory at the University of Chinses Academy of Sciences, 2011</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>Outstanding Student of the Computer Architecture Laboratory at the University of Chinses Academy of Sciences, 2010</h1>
                </header>
            </li>

        </ul>
    </article>
</section>
