<section class="twelve columns" id="awards">
    <h1>Awards</h1>
    <article>
        <ul>
            <li>
                <header>
                    <p>Rising Stars in Computational and Data Sciences <a href="https://risingstars.oden.utexas.edu">[Link]</a></p>
                </header>
            </li>
            <li>
                <header>
                    <p>ACM/IEEE International Conference for High-Performance Computing, Networking, Storage, and Analysis (SC'18) Best Student Paper Award <br/>
                    <a href="https://www.pnnl.gov/science/highlights/highlight.asp?id=5038">[PNNL Press]</a>
                        <a href="https://www.cc.gatech.edu/news/615074/hicoo-takes-home-best-student-paper-title-supercomputing-2018-creating-new-storage">[GaTech Press]</a>
                    </p>
                </header>
            </li>
            <li>
                <header>
                    <p>SIAM ALA'18 Student Travel Grant</p>
                </header>
            </li>
            <li>
                <header>
                    <p>GaTech CoC Graduate Student Council Travel Grant</p>
                </header>
            </li>
            <li>
                <header>
                    <p>IBM PhD Fellowship for 2017-2018 <a href="http://www.cc.gatech.edu/news/591926/four-gt-computing-students-earn-2017-ibm-phd-fellowship-awards">[Link]</a></p>
                </header>
            </li>
            <li>
                <header>
                    <p>Travel grant from the Institute for Pure and Applied Mathematics (IPAM) for Big Data Meets Computation Workshop 2017</p>
                </header>
            </li>
            <li>
                <header>
                    <p>Selected students to attend IEEE-WIE Women’s Leadership Summit 2016</p>
                </header>
            </li>
            <li>
                <header>
                    <p>ZhuLiYueHua Award for the Excellent PhD Students of Chinese Academy of Sciences (Top 0.2%), 2013</p>
                </header>
            </li>
            <li>
                <header>
                    <p>Merit Student of Institute of Computing Technology, 2013</p>
                </header>
            </li>
            <li>
                <header>
                    <p>Xia Peisu Scholarship of Institute of Computing Technology (Top 1%), 2011</p>
                </header>
            </li>
            <li>
                <header>
                    <p>Outstanding Research Assistant of the Computer Architecture Laboratory at the University of Chinses Academy of Sciences, 2011</p>
                </header>
            </li>
            <li>
                <header>
                    <p>Outstanding Student of the Computer Architecture Laboratory at the University of Chinses Academy of Sciences, 2010</p>
                </header>
            </li>

        </ul>
    </article>
</section>
