<section class="twelve columns">
    <h1>Awards</h1>
    <article>
        <ul>
            <li>
                <header>
                    <h1>ACM/IEEE International Conference for High-Performance Computing, Networking, Storage, and Analysis (SC'18) Best Student Paper Award</h1>
                    <p><a href="https://www.pnnl.gov/science/highlights/highlight.asp?id=5038">[PNNL Anoucement]</a>
                </header>
            </li>
            <li>
                <header>
                    <h1>SIAM ALA'18 Student Travel Grant</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>GaTech CoC Graduate Student Council Travel Grant</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>IBM PhD Fellowship for 2017-2018 <a href="http://www.cc.gatech.edu/news/591926/four-gt-computing-students-earn-2017-ibm-phd-fellowship-awards">[Link]</a></h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>Travel grant from the Institute for Pure and Applied Mathematics (IPAM) for Big Data Meets Computation Workshop 2017</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>Selected students to attend IEEE-WIE Women’s Leadership Summit 2016</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>ZhuLiYueHua Award for the Excellent PhD Students of Chinese Academy of Sciences (Top 0.2%), 2013</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>Merit Student of Institute of Computing Technology, 2013</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>Xia Peisu Scholarship of Institute of Computing Technology (Top 1%), 2011</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>Outstanding Research Assistant of the Computer Architecture Laboratory at the University of Chinses Academy of Sciences, 2011</h1>
                </header>
            </li>
            <li>
                <header>
                    <h1>Outstanding Student of the Computer Architecture Laboratory at the University of Chinses Academy of Sciences, 2010</h1>
                </header>
            </li>

        </ul>
    </article>
</section>
