<section class="twelve columns" id="course">
    <h1>Courses</h1>
    <article>
        <ul>
            <li>
                <header>
                    <h1><a href="https://longing-duckling-38b.notion.site/W-M-CSCI-780-02-Accelerating-Deep-Learning-Fall-2021-fb2fbf191cd04488a58eb45bf25afbcc">Accelerating Deep Learning</a></h1>
                </header>
                <p>
                    <em>W&M CSCI 780-02 (Fall 2021)</em>
                </p>
            </li>
        </ul>
        
    </article>
</section>