<section class="twelve columns" id="course">
    <h1>Teaching</h1>
    <article>
        <details class="foldable" open>
            <summary class="foldable-summary">Courses Taught</summary>
            <div class="foldable-body">
                <ul>
                    <li>
                        <p class="course-meta"><strong>Architecture of Parallel Computers</strong> - <em>NCSU CSC/ECE 506-01</em>, Fall 2025</p>
                    </li>
                    <li>
                        <p class="course-meta"><strong>Parallel Algorithms</strong> - <em>NCSU CSC 491-005, CSC 591-126</em>, Fall 2025</p>
                    </li>
                    <li>
                        <p class="course-meta"><strong>Parallel Systems</strong> - <em>NCSU CSC 548-01, ECE 591-029</em>, Spring 2025</p>
                    </li>
                    <li>
                        <p class="course-meta"><strong>Seminar in Computer Science</strong> - <em>NCSU CSC 801-002</em>, Fall 2024</p>
                    </li>
                    <li>
                        <p class="course-meta"><strong>Parallel Algorithms</strong> - <em>NCSU CSC 591/791-126, ECE 591-025</em>, Fall 2024</p>
                    </li>
                    <li>
                        <p class="course-meta"><strong>Accelerating Deep Learning</strong> - <em>NCSU CSC 495-004/591-104</em>, Spring 2024</p>
                    </li>
                    <li>
                        <p class="course-meta"><strong>Efficient Tensor Computation for AI and Scientific Applications</strong> - <em>NCSU CSC 591/791-26</em>, Fall 2023</p>
                    </li>
                    <li>
                        <p class="course-meta"><strong>Parallel Systems</strong> - <em>NCSU CSC 548-01</em>, Spring 2023</p>
                    </li>
                    <li>
                        <p class="course-meta"><strong>Accelerating Deep Learning</strong> - <em>NCSU CSC 591/791-25</em>, Spring 2023</p>
                    </li>
                    <li>
                        <p class="course-meta"><strong>Algorithms</strong> - <em>W&amp;M CSCI 303-01</em>, Spring 2022</p>
                    </li>
                    <li>
                        <p class="course-meta"><strong>Accelerating Deep Learning</strong> - <em>W&amp;M CSCI 780-02</em>, Fall 2021</p>
                    </li>
                </ul>
            </div>
        </details>
    </article>
</section>
