<section class="twelve columns">
    <h1>News</h1>
        <article>
        <!-- <h1>News</h1> -->
        <ul>
          <li><strong>Feb. 22-26:</strong> Will present a poster and serve as PC, Finance/Registration and Session Chair at PPoPP'20, San Diego, CA</li>
          <li><strong>Feb. 16-18:</strong> Will give a talk at Purdue Univ., West Lafayette, IN</li>
          <li><strong>Feb. 11-15:</strong> Will present a minisymposium talk at SIAM PP & CSC'20, Seattle, WA</li>
          <li><strong>Nov. 17-21:</strong> Will be at SC'19 for a collaborated paper, Denver, CO</li>
          <!-- <li><strong>Oct. 24-26:</strong> Will visit William & Mary, Williamsburg, VA</li>
          <li><strong>Oct. 21-24:</strong> Will attend <a href="https://www.olcf.ornl.gov/for-users/training/gpu-hackathons/">GPU Hackathon</a> and visit ORNL, Knoxville, TN</li> -->
          <!-- <li><strong>Sep. 22-25:</strong> Attend <a href="https://pactconf.org">PACT'19</a>, Seattle, WA</li> -->
          <!-- <li><strong>Sep. 17-20:</strong> Present recent work in workshop <a href="http://www.cvent.com/d/f6q4y5">"AI and Tensor Factorization for Physical Chemical and Biological Systems"</a>, Santa Fe, NM</li> -->
          <!-- <li><strong>Jun. 23-28:</strong> Present "Efficient and Effective Sparse Tensor Reordering" paper in <a href="https://ics19.eecis.udel.edu">ICS'19</a>, Phoenix, AZ</li> -->
          
        </ul>
    </article>
</section>