<section class="twelve columns">
    <h1>News</h1>
    <article>
        <ul>
          <li><strong>May 2026:</strong> Zhaonan Meng will present our <em>STTID: High-Performance Sparse Tensor-Train Interpolative Decomposition</em> work at <a href="https://www.ipdps.org/">IPDPS'26</a> in New Orleans, LA, USA.</li>
          <li><strong>June 2026:</strong> Yanbo Zhao will present our <em>Leveraging AI Ecosystem for Portable and Sustainable GPU Kernels in HPC</em> work at <a href="https://pldi26.sigplan.org/home/ARRAY-2026">ARRAY'26</a>.</li>
          <li><strong>July 2026:</strong> Zecheng Li will present our <em>TypeCraft: A Lightweight Data Type Profiler with High Resolution</em> work at <a href="https://www.usenix.org/conference/osdi26">OSDI'26</a> in Seattle, WA, USA.</li>
        </ul>
    </article>
</section>
