<section class="twelve columns" id="publication">
    <h1>Publication</h1>
    <article>
        <ul>
            <li>
                <header>
                    <h1>PASTA: A Parallel Sparse Tensor Algorithm Benchmark Suite</h1>
                    <span><strong>Jiajia Li</strong>, Yuchen Ma, Xiaolong Wu, Ang Li, Kevin Barker</span>
                </header>
                <p>
                    <em><time>2019 (under review)</time> </em>
                     <br/>
                </p>
            </li>

            <li>
                <header>
                    <h1>A Pattern Based Algorithmic Autotuner for Graph Processing on GPUs</h1>
                    <span>Ke Meng, <strong>Jiajia Li</strong>, Guangming Tan</span>
                </header>
                <p>
                    <em>Principles and Practice of Parallel Programming (<i>PPoPP</i>). <time>2019 (accepted)</time> </em>
                     <br/><a href="{{ site.baseurl }}/static/files/pasta.pdf">[paper]</a>
                </p>
            </li>

            <li>
                <header>
                    <h1>Scalable Tensor Decompositions in High Performance Computing Environments</h1>
                    <span><strong>Jiajia Li</strong></span>
                </header>
                <p>
                    <em>PhD Dissertation. Georgia Institute of Technology, Atlanta, GA, USA. <time>July 2018</time> </em>
                     <br/><a href="{{ site.baseurl }}/static/files/LI-DISSERTATION-2018.pdf">[paper]</a><a href="{{ site.baseurl }}/static/files/LI-DISSERTATION-2018-bib.txt">[bib]</a>
                </p>
            </li>

            <li>
                <header>
                    <h1>HiCOO: Hierarchical Storage of Sparse Tensors</h1>
                    <span><strong>Jiajia Li</strong>, Jimeng Sun, Richard Vuduc</span>
                </header>
                <p>
                    <em>ACM/IEEE International Conference for High-Performance Computing, Networking, Storage, and Analysis (<i>SC</i>). <time>2018</time> <i><strong>Best Student Paper Award</strong></i> </em>
                     <br/>
                     <a href="{{ site.baseurl }}/static/files/sc18-li.pdf">[paper]</a>
                     <a href="{{ site.baseurl }}/static/files/sc18-li-slides.pdf">[slides]</a>
                     <a href="{{ site.baseurl }}/static/files/sc18-li-bib.txt">[bib]</a> <br/>
                     <strong>News: </strong>
                     <a href="https://www.pnnl.gov/science/highlights/highlight.asp?id=5038">[PNNL Press]</a>
                     <a href="https://www.cc.gatech.edu/news/615074/hicoo-takes-home-best-student-paper-title-supercomputing-2018-creating-new-storage">[GaTech Press]</a>
                </p>
            </li>

            <li>
                <header>
                    <h1>Optimizing Sparse Tensor Times Matrix on GPUs</h1>
                    <span>Yuchen Ma, <strong>Jiajia Li</strong>, Xiaolong Wu, Chenggang Yan, Jimeng Sun, Richard Vuduc</span>
                </header>
                <p>
                    <em>Journal of Parallel and Distributed Computing (Special Issue on Systems for Learning, Inferencing, and Discovering)</em>
                    <br/><a href="{{ site.baseurl }}/static/files/jpdc-ma.pdf">[paper]</a><a href="https://github.com/hpcgarage/ParTI/tree/jpdc">[code]</a><a href="{{ site.baseurl }}/static/files/jpdc-ma-bib.txt">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>An Initial Characterization of the Emu Chick</h1>
                    <span>Eric Hein, Tom Conte, Jeffrey Young, Srinivas Eswar, <strong>Jiajia Li</strong>, Patrick Lavin, Richard Vuduc, Jason Riedy</span>
                </header>
                <p>
                    <em>2018 IEEE International Parallel and Distributed Processing Symposium Workshops (<i>IPDPSW</i>). <time>2018</time> </em>
                    <br/><a href="{{ site.baseurl }}/static/files/ipdpsw18-hein.pdf">[paper]</a><a href="{{ site.baseurl }}/static/files/ipdpsw18-hein-bib.txt">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>Bridging the Gap between Deep Learning and Sparse Matrix Format Selection</h1>
                    <span>Yue Zhao, <strong>Jiajia Li</strong>, Chunhua Liao, Xipeng Shen</span>
                </header>
                <p>
                    <em>23rd ACM SIGPLAN Symposium on Principles and Practice of Parallel Programming (<i>PPoPP</i>). <time>2018</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/ppopp18-zhao.pdf">[paper]</a><a href="{{ site.baseurl }}/static/files/ppopp18-zhao-bib.txt">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>Design and Implementation of Adaptive SpMV Library for Multicore and Manycore Architecture</h1>
                    <span>Guangming Tan, Junhong Liu, <strong>Jiajia Li</strong></span>
                </header>
                <p>
                    <em>ACM Transactions on Mathematical Software. <time>2018</time> </em>
                    <br/><a href="{{ site.baseurl }}/static/files/toms-tan.pdf">[paper]</a><a href="{{ site.baseurl }}/static/files/toms-tan-bib.txt">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>Model-Driven Sparse CP Decomposition for Higher-Order Tensors</h1>
                    <span><strong>Jiajia Li</strong>, Jee Choi, Ioakeim Perros, Jimeng Sun, Richard Vuduc</span>
                </header>
                <p>
                    <em>31st IEEE International Parallel & Distributed Processing Symposium (<i>IPDPS</i>). <time>2017</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/ipdps17-jli.pdf">[paper]</a><a href="{{ site.baseurl }}/static/files/ipdps17-jli-slides.pdf">[slides]</a><a href="https://github.com/hpcgarage/AdaTM">[code]</a><a href="{{ site.baseurl }}/static/files/ipdps17-jli-bib.txt">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>Non-Negative CP Decomposition on Distributed Clusters</h1>
                    <span><strong>Jiajia Li</strong>, Jee Choi, Xing Liu, Richard Vuduc</span>
                </header>
                <p>
                    <em>(To be submitted). <time>2017</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>Understanding the GPU Microarchitecture to Achieve Bare-Metal Performance Tuning</h1>
                    <span>Xiuxia Zhang, Guangming Tan, Shuangbai Xue, <strong>Jiajia Li</strong>, Keren Zhou, Mingyu Chen</span>
                </header>
                <p>
                    <em>22nd ACM SIGPLAN Symposium on Principles and Practice of Parallel Programming (PPoPP). <time>2017</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/p31-zhang.pdf">[paper]</a><a href="{{ site.baseurl }}/static/files/p31-zhang-bib.txt">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>ParTI!: a Parallel Tensor Infrastructure for Data Analysis</h1>
                    <span><strong>Jiajia Li</strong>, Yuchen Ma, Chenggang Yan, Jimeng Sun, Richard Vuduc</span>
                </header>
                <p>
                    <em>Tensor-Learn Workshop, co-located with NIPS’16. <time>2016</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/nips16-tensorlearn.pdf">[poster]</a><a href="https://github.com/hpcgarage/ParTI">[code]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>Optimizing Sparse Tensor Times Matrix on multi-core and many-core architectures</h1>
                    <span><strong>Jiajia Li</strong>, Yuchen Ma, Chenggang Yan, Richard Vuduc</span>
                </header>
                <p>
                    <em>The sixth Workshop on Irregular Applications:
Architectures and Algorithms (IA^3), co-located with SC’16. <time>2016</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/sc16-ia3.pdf">[paper]</a><a href="https://github.com/hpcgarage/ParTI">[code]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>Model-driven Sparse CP Decomposition for High-Order Tensors</h1>
                    <span><strong>Jiajia Li</strong>, Ioakeim Perros, Jimeng Sun, Richard Vuduc</span>
                    <!-- <span></span> -->
                </header>
                <p>
                    <em>The fifth international Women in HPC workshop, co-located with SC’16. <time>2016</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/sc16-whpc.pdf">[poster]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>Tensors in Data Analysis: Methods, Applications, and Software</h1>
                    <span>Casey Battaglino, <strong>Jiajia Li</strong>, Ioakeim Perros, Jimeng Sun, Richard Vuduc</span>
                    <!-- <span></span> -->
                </header>
                <p>
                    <em>(To be submitted). <time>2015</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>An Input-Adaptive and In-Place Approach to Dense Tensor-Times-Matrix Multiply</h1>
                    <span><strong>Jiajia Li</strong>, Casey Battaglino, Ioakeim Perros, Jimeng Sun, Richard Vuduc</span>
                </header>
                <p>
                    <em>The International Conference for High Performance Computing, Networking, Storage and Analysis <strong>(SC)</strong>. <time>2015</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/sc15-li.pdf">[pdf]</a> <a href="{{ site.baseurl }}/static/files/sc15-li-slides.pdf">[slides]</a> <a href="https://github.com/hpcgarage/InTensLi">[code]</a> <a href="{{ site.baseurl }}/static/files/sc15-li-bib.txt">[bib] </a>
                </p>
            </li>
            <li>
                <header>
                    <h1>SMAT: A Cross-Platform Input Adaptive Auto-Tuner for Sparse Matrix-Vector Multiplication</h1>
                    <span><strong>Jiajia Li</strong>, Zhonghai Zhang, Guangming Tan, David Bader</span>
                </header>
                <p>
                    <em>Technical Report. <time>2014</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>The Study of Choosing the Best Storage Format of Sparse Matrix Vector Multiplication</h1>
                    <span><strong>Jiajia Li</strong>, Xiuxia Zhang, Guangming Tan, Mingyu Chen</span>
                </header>
                <p>
                    <em>Journal of Computer Research and Development. Vol 51. (IN CHINESE). <time>2014</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>Research on Sparse Matrix Vector Multiplication Auto-tuning Method</h1>
                    <span><strong>Jiajia Li</strong></span>
                </header>
                <p>
                    <em>PhD Thesis, The University of Chinese Academy of Sciences, Beijing, China <time>2013</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>SMAT: An Input Adaptive Auto-Tuner for Sparse Matrix-Vector Multiplication</h1>
                    <span><strong>Jiajia Li</strong>, Guangming Tan, Mingyu Chen, Ninghui Sun</span>
                </header>
                <p>
                    <em>Programming Language Design and Implementation <strong>(PLDI)</strong>. <time>2013</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/pldi13-li.pdf">[pdf]</a> <a href="{{ site.baseurl }}/static/files/pldi13-li-slides.pdf">[slides]</a> <a href="{{ site.baseurl }}/static/files/pldi13-li-bib.txt">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>An Optimized Large-Scale Hybrid DGEMM Design for CPUs and ATI GPUs</h1>
                    <span><strong>Jiajia Li</strong>, Xingjian Li, Guangming Tan, Mingyu Chen, Ninghui Sun</span>
                </header>
                <p>
                    <em>International Conference on Supercomputing <strong>(ICS)</strong>. <time>2012</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/ics12-li.pdf">[pdf]</a> <a href="{{ site.baseurl }}/static/files/ics12-li-slides.pdf">[slides]</a> <a href="http://asg.ict.ac.cn/dgemm/dgemm.html">[web]</a> <a href="{{ site.baseurl }}/static/files/ics12-li-bib.txt">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>Algebraic Multi-grid Optimization Study on GPU</h1>
                    <span><strong>Jiajia Li</strong>, Xiuxia Zhang, Guangming Tan, Mingyu Chen</span>
                </header>
                <p>
                    <em>HPC China (IN CHINESE). <time>2011</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/HPCChina2011-li.pdf">[pdf]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>Memory Accessing Analysis of Sparse Matrix Vector Multiplication and Optimization</h1>
                    <span>Xiuxia Zhang, Mingyu Chen, <strong>Jiajia Li</strong>, Guangming Tan</span>
                </header>
                <p>
                    <em>HPC China (IN CHINESE). <time>2011</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/HPCChina2011-zhang.pdf">[pdf]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>Automatically Tuned Dynamic Programming with an Algorithm-by-Blocks</h1>
                    <span><strong>Jiajia Li</strong>, Guangming Tan, Mingyu Chen</span>
                </header>
                <p>
                    <em>16th International Conference on Parallel and Distributed Systems (ICPADS). <time>2010</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/icpads10-li.pdf">[pdf]</a> <a href="{{ site.baseurl }}/static/files/icpads10-li-bib.txt">[bib]</a>
                </p>
            </li>

        </ul>
    </article>
</section>
