<section class="twelve columns" id="research">
    <h1>Research</h1>
    <article>
        <h1>Current Projects</h1>
        <ul>
            <li>
                <header>
                    <h1>Optimizing and Benchmarking Sparse Tensor and Matrix Methods on New Architectures, under <a href="https://cenate.pnnl.gov">DOE PNNL CENATE project</a></h1>
                </header>
                <p>
                    <em>Benchmarking sparse tensor algorithms: <a href="https://gitlab.com/tensorworld/pasta">PASTA</a> <br/>
                    </em>
                </p>
            </li> 
            <li>
                <header>
                    <h1>Optimizing Sparse Tensor Algorithms for Quantum Chemistry, under <a href="https://cenate.pnnl.gov">DOE ECP project</a></h1>
                </header>
                <p>
                    <em>
                    </em>
                </p>
            </li> 
            <li>
                <header>
                    <h1>Parallel Tensor Infrastructure (ParTI) on multicore CPUs and GPUs</h1>
                </header>
                <p>
                    <em>Code released in Github: <a href="https://github.com/hpcgarage/ParTI">[ParTI]</a></em>
                </p>
            </li> 
           <li>
                <header>
                    <h1>Distributed Sparse CP Decomposition Algorithms</h1>
                </header>
                <p>
                    <em></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>Sparse Tensor Collection</h1>
                </header>
                <p>
                    <em>Collect sparse tensors from real-world applications and analyze the sparse tensor behavior, collaborating with Shaden Smith el al. in <a href="http://frostt.io/">FROSTT</a> project.</em>
                </p>
            </li>            
        </ul>

        <h1>Past Projects</h1>
        <ul>
            <li>
                <header>
                    <h1>CP Decomposition and Matriced Tensor Times Khatri-Rao Product (MTTKRP)</h1>
                </header>
                <p>
                    <em>Improving MTTKRP performance for CP decomposition, and trying to find sparse tensor features to develop a new data structure for sparse tensors.</em>
                </p>
            </li>
            <li>
                <header>
                    <h1>Tucker decomposition and Tensor-Times-Matrix Product (TTM)</h1>
                </header>
                <p>
                    <em>Improved TTM performance by optimizing the data transformation time.</em>
                </p>
            </li>
            <li>
                <header>
                    <h1>SMAT (SpMV Auto-tuner)</h1>
                </header>
                <p>
                    <em></em>
                </p>
            </li> 
            <li>
                <header>
                    <h1>DGEMM on GPU <a href="http://asg.ict.ac.cn/dgemm/dgemm.html">[Click here for details]</a></h1>
                </header>
                <p>
                    <em></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>Algebraic Multi-grid (AMG)</h1>
                </header>
                <p>
                    <em></em>
                </p>
            </li>            
        </ul>

    </article>
</section>
