<section class="twelve columns">
    <h1>Research</h1>
    <article>
        <h1>Current Projects</h1>
        <ul>
            <li>
                <header>
                    <h1>Sparse Tensor Operations Library (SpTOL) on multicore CPU and GPU</h1>
                </header>
                <p>
                    <em>Code released in Github: <a href="https://github.com/m13253/SpTOL-dev">[SpTOL]</a></em>
                </p>
            </li> 
           <li>
                <header>
                    <h1>Distributed CP Decomposition Algorithms</h1>
                </header>
                <p>
                    <em></em>
                </p>
            </li> 
            <li>
                <header>
                    <h1>CP Decomposition and Matriced Tensor Times Khatri-Rao Product (MTTKRP)</h1>
                </header>
                <p>
                    <em>Improving MTTKRP performance for CP decomposition, and trying to find sparse tensor features to develop a new data structure for sparse tensors.</em>
                </p>
            </li>
            <li>
                <header>
                    <h1>Tucker decomposition and Tensor-Times-Matrix Product (TTM)</h1>
                </header>
                <p>
                    <em>Improved TTM performance by optimizing the data transformation time.</em>
                </p>
            </li>
            <li>
                <header>
                    <h1>Sparse Tensor Collection</h1>
                </header>
                <p>
                    <em>Collect sparse tensors from real-world applications and analyze the sparse tensor behavior.</em>
                </p>
            </li>            
        </ul>

        <h1>Past Projects</h1>
        <ul>
            <li>
                <header>
                    <h1>SMAT (SpMV Auto-tuner)</h1>
                </header>
                <p>
                    <em></em>
                </p>
            </li> 
            <li>
                <header>
                    <h1>DGEMM on GPU <a href="http://asg.ict.ac.cn/dgemm/dgemm.html">[Click here for details]</a></h1>
                </header>
                <p>
                    <em></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>Algebraic Multi-grid (AMG)</h1>
                </header>
                <p>
                    <em></em>
                </p>
            </li>            
        </ul>

    </article>
</section>
