<section class="twelve columns">
    <h1>Publication</h1>
    <article>
        <ul>
            <li>
                <header>
                    <h1>Model-Driven Sparse CP Decomposition for High-Order Tensors</h1>
                    <span><strong>Jiajia Li</strong>, Jee Choi, Ioakeim Perros, Jimeng Sun, Richard Vuduc</span>
                </header>
                <p>
                    <em>(Under review). <time>2016</time></em>
                </p>
            </li>
            <li>
                <header>
                    <h1>Optimizing Sparse Tensor Times Matrix on multi-core and many-core architectures</h1>
                    <span><strong>Jiajia Li</strong>, Yuchen Ma, Chenggang Yan, Richard Vuduc</span>
                </header>
                <p>
                    <em>The sixth Workshop on Irregular Applications:
Architectures and Algorithms (IA^3), co-located with SC’16. <time>2016</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/sc16-ia3.pdf">[paper]</a><a href="https://github.com/hpcgarage/SpTOL">[code]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>An Input-Adaptive and In-Place Approach to Dense Tensor-Times-Matrix Multiply</h1>
                    <span><strong>Jiajia Li</strong>, Casey Battaglino, Ioakeim Perros, Jimeng Sun, Richard Vuduc</span>
                </header>
                <p>
                    <em>The International Conference for High Performance Computing, Networking, Storage and Analysis (SC). <time>2015</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/sc15-li.pdf">[pdf]</a> <a href="{{ site.baseurl }}/static/files/sc15-li-slides.pdf">[slides]</a> <a href="https://github.com/hpcgarage/InTensLi">[code]</a> <a href="{{ site.baseurl }}/static/files/sc15-li-bib.txt">[bib] </a>
                </p>
            </li>
            <li>
                <header>
                    <h1>SMAT: An Input Adaptive Auto-Tuner for Sparse Matrix-Vector Multiplication</h1>
                    <span><strong>Jiajia Li</strong>, Guangming Tan, Mingyu Chen, Ninghui Sun</span>
                </header>
                <p>
                    <em>Programming Language Design and Implementation (PLDI). <time>2013</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/pldi13-li.pdf">[pdf]</a> <a href="{{ site.baseurl }}/static/files/pldi13-li-bib.txt">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>An Optimized Large-Scale Hybrid DGEMM Design for CPUs and ATI GPUs</h1>
                    <span><strong>Jiajia Li</strong>, Xingjian Li, Guangming Tan, Mingyu Chen, Ninghui Sun</span>
                </header>
                <p>
                    <em>International Conference on Supercomputing (ICS). <time>2012</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/ics12-li.pdf">[pdf]</a> <a href="http://asg.ict.ac.cn/dgemm/dgemm.html">[web]</a> <a href="{{ site.baseurl }}/static/files/ics12-li-bib.txt">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <h1>Automatically Tuned Dynamic Programming with an Algorithm-by-Blocks</h1>
                    <span><strong>Jiajia Li</strong>, Guangming Tan, Mingyu Chen</span>
                </header>
                <p>
                    <em>16th International Conference on Parallel and Distributed Systems (ICPADS). <time>2010</time></em>
                    <br/><a href="{{ site.baseurl }}/static/files/icpads10-li.pdf">[pdf]</a> <a href="{{ site.baseurl }}/static/files/icpads10-li-bib.txt">[bib]</a>
                </p>
            </li>

        </ul>
    </article>
</section>