<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.name }}'s Résumé">
    <meta name="author" content="{{ site.name }} @{{ site.twitter }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}static/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/layout.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/site-refresh.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- <link rel="shortcut icon" href="{{ site.baseurl }}static/img/favicon.ico"> -->
</head>

<body>
<div class="container site-shell">
    <header class="four columns site-sidebar">
        <div class="sidebar-inner">
        <img src="{{ site.baseurl }}static/img/ljj.jpg" class="me">
        <div class="identity-block">
            <h1>{{ site.name }}</h1>
            <p class="role">{{ site.school }}</p>
            <h2>{{ site.university }}</h2>
            <p class="role"><a href="https://tensorworld.github.io/" target="_blank" rel="noopener">TensorWorld</a></p>
        </div>

        <nav class="navigation">
            <ul class="navigation-list">
            <li class="navigation-item">
              <a class="navigation-link" href="#research" data-popover>Projects</a>
            </li>
            <li class="navigation-item">
              <a class="navigation-link" href="#awards" data-popover>Awards</a>
            </li>
            <li class="navigation-item">
              <a class="navigation-link" href="#publication" data-popover>Publication</a>
            </li>
            <li class="navigation-item">
              <a class="navigation-link" href="#software" data-popover>Software</a>
            </li>
            <li class="navigation-item">
              <a class="navigation-link" href="#activities" data-popover>Activities</a>
            </li>
            <li class="navigation-item">
              <a class="navigation-link" href="#course" data-popover>Teaching</a>
            </li>
            <li class="navigation-item">
              <a class="navigation-link" href="#people" data-popover>Students</a>
            </li>
            <!-- <li class="navigation-item">
              <a class="navigation-link" href="{{ site.baseurl }}/random" data-popover>Blog</a>
            </li> -->
            <!-- <li class="navigation-item">
              <a class="navigation-link" href="http://www.cc.gatech.edu/grads/j/jli458/rsi/rsi.html" data-popover>[GSC RSI]</a>
            </li> -->
            </ul>
        </nav>

        <div class="contact-card">
            <p><span>Website</span><a href="http://jiajiali.org/" target="_blank" rel="noopener">http://jiajiali.org</a></p>
            <p><span>Email</span><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            <p><span>CV</span><a href="{{ site.baseurl }}/static/files/JiajiaLi-NCSU.pdf" target="_blank" rel="noopener">Full PDF</a></p>
            <p><span>Profiles</span><a href="https://scholar.google.com/citations?user=A8TTuWMAAAAJ&amp;hl=en" target="_blank" rel="noopener">Google Scholar</a></p>
            <p class="profile-links"><a href="https://www.linkedin.com/in/jiajiali/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i> LinkedIn</a><a href="https://github.com/fruitfly1026" target="_blank" rel="noopener"><i class="fa fa-github"></i> GitHub</a></p>
        </div>

        <address class="address-card">
            <strong>Address</strong><br/>
            {{ site.address }}<br/>
            {{ site.city }}<br/>
            {{ site.country }}<br/>
            {{ site.postcode }}
        </address>
        </div>
    </header>

    <main class="twelve columns clearfix site-main">

        {{ content }}

    <footer class="twelve columns site-footer">
        <p>© All rights reserved. Powered by <a href="http://jekyllrb.com/">Jekyll and <a href="https://github.com">GitHub Pages</a></p>
    </footer>
    </main>
</div>

<script src="{{ site.baseurl }}static/js/site-refresh.js"></script>
</body>
</html>
